body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3eee6;
}

/* BARRAS */
.barra-cafe {
  background-color: #c49674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.icono-usuario img {
  width: 45px;
  height: 45px;
}

.barra-verde {
  background-color: #b7b08a;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 8px 0;
}

.barra-verde a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.barra-verde a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.barra-verde .activo {
  background-color: #8c6e5c;
}

/* FORMULARIO */
.formulario-contenedor {
  background-color: #f3eee6;
  margin: 30px auto;
  width: 800px;
  padding: 25px 35px;
  border-radius: 15px;
  text-align: left;
}

.formulario-contenedor h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #3f3222;
}

label {
  display: block;
  font-weight: 500;
  margin: 10px 0 5px;
  color: #3f3222;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1c8b5;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.fecha {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.btn-agregar, .btn-cancelar {
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-agregar {
  background-color: #9e846d;
  color: white;
}

.btn-agregar:hover {
  background-color: #b08d72;
}

.btn-cancelar {
  background-color: #efe8dd;
  color: #3f3222;
}

.btn-cancelar:hover {
  background-color: #d8cfc2;
}
