body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3eee6;
}

.barra-cafe {
  background-color: #c49674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.icono-usuario img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.barra-verde {
  background-color: #b7b08a;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 8px 0;
}

.barra-verde a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.barra-verde a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.seccion-titulo {
  background-color: #efe8dd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px;
}

.btn-agregar,
.btn-ver {
  border: none;
  border-radius: 20px;
  padding: 8px 22px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-agregar {
  background-color: #9e846d;
  color: white;
}

.btn-ver {
  background-color: #efe8dd;
  color: #3f3222;
}

.btn-ver:hover {
  background-color: #c49674;
  color: white;
}

.formulario-container {
  background-color: #f3eee6;
  margin: 50px auto;
  padding: 25px;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
}

label {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 4px;
  background-color: #fff;
}

.obligatorio {
  font-size: 12px;
  color: red;
  margin: 4px 0 10px 0;
}

.btn-listo {
  display: block;
  background-color: #5c4031;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn-listo:hover {
  background-color: #8c6e5c;
}

