body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3eee6;
}

/* BARRAS */
.barra-cafe {
  background-color: #c49674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.icono-usuario img {
  width: 45px;
  height: 45px;
}

.barra-verde {
  background-color: #b7b08a;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 8px 0;
}

.barra-verde a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.barra-verde a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.barra-verde .activo {
  background-color: #8c6e5c;
}
.contenedor {
  width: 70%;
  margin: 40px auto;
  background-color: #f3eee6;
  padding: 20px 40px;
  border-radius: 15px;
}

.contenedor h2 {
  text-align: center;
  color: #3f3222;
  margin-bottom: 25px;
  font-size: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  font-weight: 600;
  color: #3f3222;
  margin-top: 12px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 4px;
  background-color: white;
}

.fecha {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
}


.icono-calendario {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 20px;
  pointer-events: none;
}

.botones {
  text-align: center;
  margin-top: 20px;
}

.btn-editar {
  background-color: #7a5c3f;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-editar:hover {
  background-color: #5a3f2b;
}
