body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3eee6;
  color: #3f3222;
}

.barra-cafe {
  background-color: #c49674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.icono-usuario img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.barra-verde {
  background-color: #b7b08a;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 8px 0;
}

.barra-verde a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.barra-verde a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.barra-verde .activo {
  background-color: #8c6e5c;
}

.form-container {
  max-width: 600px;
  background-color: #efe8dd;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.form-container h2 {
  text-align: center;
  color: #3f3222;
  margin-bottom: 25px;
  font-size: 22px;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
  color: #3f3222;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  font-size: 15px;
  background-color: #fff;
  color: #3f3222;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(30%);
}

.btn-agregar {
  background-color: #8c6e5c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #6e4b3a;
}
