* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2efe9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.barra-superior {
  background-color: #bb8a66;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.iconos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icono {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.barra-menu {
  background-color: #b7b58c;
  text-align: center;
  padding: 8px 0;
}

.barra-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.contenedor-principal {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: center;
  padding: 40px;
}

.tarjeta {
  background-color: #bb8a66;
  width: 220px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.tarjeta img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.tarjeta p {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
