* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0;
}

.left-panel {
  background-color: #ffffff;
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hada-img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.left-panel h1 {
  font-size: 2em;
  font-weight: 500;
  color: #000;
}

.right-panel {
  background-color: #C2A88F;
  width: 35%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo-vaquita {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

label {
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #000;
}

input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 25px; 
  font-size: 1em;
}

button {
  background-color: #916B5E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px; 
}

button:hover {
  background-color: #74554c;
}