body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3eee6;
}

.barra-cafe {
  background-color: #c49674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.icono-usuario img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.barra-verde {
  background-color: #b7b08a;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 8px 0;
}

.barra-verde a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.barra-verde a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.barra-verde .activo {
  background-color: #8c6e5c;
}
.contenedor-botones {
  background-color: #efe9e2;
  padding: 15px 0;
  border-bottom: 2px solid #d8cfc7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-atras {
  position: absolute;
  left: 40px;
  background: none;
  border: none;
  font-size: 28px;
  color: #3f3222;
  cursor: pointer;
  transition: 0.2s;
}

.btn-atras:hover {
  color: #6e4b3a;
  transform: scale(1.1);
}

.botones-centro {
  display: flex;
  gap: 30px;
}

.botones-centro button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #3f3222;
  transition: 0.3s;
}

.botones-centro .activo2 {
  background-color: #8c6e5c;
  color: white;
  padding: 6px 12px;
  border-radius: 15px;
}


.titulo-recordatorios {
  text-align: center;
  font-size: 22px;
  color: #3f3222;
  margin-top: 25px;
  font-weight: 700;
}

.tarjetas-recordatorios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}

.tarjeta {
  background-color: #a27863;
  color: white;
  text-align: center;
  padding: 25px 35px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

.tarjeta h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 600;
}

.tarjeta p {
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .tarjetas-recordatorios {
    flex-direction: column;
  }
}
