body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3eee6;
}

.barra-cafe {
  background-color: #c49674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.logo img {
  height: 55px;
  border-radius: 50%;
}

.icono-usuario img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.barra-verde {
  background-color: #b7b08a;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 8px 0;
}

.barra-verde a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 15px;
  transition: 0.3s;
}

.barra-verde a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.barra-verde .activo {
  background-color: #8c6e5c;
}


.seccion-titulo {
  background-color: #efe8dd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 12px;
  position: relative;
}

.btn-atras {
  position: absolute;
  left: 30px; 
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #3f3222;
  transition: transform 0.2s;
}

.btn-atras:hover {
  transform: scale(1.1);
}

.btn-registrar,
.btn-ver {
  border: none;
  border-radius: 20px;
  padding: 8px 22px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-registrar {
  background-color: #9e846d;
  color: white;
}

.btn-registrar:hover {
  background-color: #efe8dd;
}


.btn-ver {
  background-color: #f3eee6;
  color: rgb(16, 14, 14);
}

.btn-ver:hover {
  background-color: #5c4031;
  color: white;
}


.contenido {
  background-color: #f3eee6;
  margin: 20px 40px;
  border-radius: 10px;
  padding: 20px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.tabla th {
  background-color: #f0f0f0;
  color: #000;
  padding: 10px;
  font-weight: 600;
  border: 1px solid #ccc;
}

.tabla td {
  padding: 10px;
  color: #2e2e2e;
  border: 1px solid #ccc;
}

.editar {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

.editar:hover {
  color: #c0392b;
}
